*.exe
*.dll
*.obj
*.pch
*.res
*.idb
*.exp
*.tlb
*.lib
*.pdb
*.trg
*.plg
*.clw
*.aps
*.user
*.ncb
*.suo
*.ocx
*.dep
*.htm
*.exe.intermediate.manifest
*.ilk
*.map
!zlib.dll
!vcredist_x86.exe
!msvcrt.dll
!msvcr90.dll
!Msvcp60.dll
!mfc42.dll
!DebugView.exe
!dbghelp.dll

*.exe
*.dll
*.obj
*.pch
*.res
*.idb
*.exp
*.tlb
*.lib
*.pdb
*.trg
*.plg
*.clw
*.aps
*.user
*.ncb
*.suo
*.ocx
*.dep
*.htm
*.exe.intermediate.manifest
*.ilk
*.map
!zlib.dll
!vcredist_x86.exe
!msvcrt.dll
!msvcr90.dll
!Msvcp60.dll
!mfc42.dll
!DebugView.exe
!dbghelp.dll
*.manifest
*.am
*.vcxproj
*.filters
!zlib
!zlib.lib
!cfgmgr32.lib
!bindview.exe
!koalsign.exe
!kapinstall64.exe
!kapinstall32.exe
!sc.exe
*.htm
*.dep
!lzo2.lib
*.bsc
!CrashRpt.exe.manifest